.plane:nth-child(1) 
    {
    transform: rotateY(10deg);
    }
.plane:nth-child(2) 
    {
    transform: rotateY(20deg);
    }
    .plane:nth-child(3) 
    {
    transform: rotateY(30deg);
    }
.plane:nth-child(4) 
    {
    transform: rotateY(40deg);
    }
.plane:nth-child(5) 
    {
    transform: rotateY(50deg);
    }
.plane:nth-child(6) 
    {
    transform: rotateY(60deg);
    }
.plane:nth-child(7) 
    {
    transform: rotateY(70deg);
    }
.plane:nth-child(8) 
    {
    transform: rotateY(80deg);
    }
.plane:nth-child(9) 
    {
    transform: rotateY(90deg);
    }
.plane:nth-child(10) 
    {
    transform: rotateY(100deg);
    }
.plane:nth-child(11) 
    {
    transform: rotateY(110deg);
    }
.plane:nth-child(12) 
    {
    transform: rotateY(120deg);
    }
.plane:nth-child(13) 
    {
    transform: rotateY(130deg);
    }
.plane:nth-child(14) 
    {
    transform: rotateY(140deg);
    }
.plane:nth-child(15) 
    {
    transform: rotateY(150deg);
    }
.plane:nth-child(16) 
    {
    transform: rotateY(160deg);
    }
.plane:nth-child(17) 
    {
    transform: rotateY(170deg);
    }
.plane:nth-child(18) 
    {
    transform: rotateY(180deg);
    }
.plane:nth-child(19) 
    {
    transform: rotateY(190deg);
    }
.plane:nth-child(20) 
    {
    transform: rotateY(200deg);
    }
.plane:nth-child(21) 
    {
    transform: rotateY(210deg);
    }
.plane:nth-child(22) 
    {
    transform: rotateY(220deg);
    }
.plane:nth-child(23) 
    {
    transform: rotateY(230deg);
    }
.plane:nth-child(24) 
    {
    transform: rotateY(240deg);
    }
.plane:nth-child(25) 
    {
    transform: rotateY(250deg);
    }
.plane:nth-child(26) 
    {
    transform: rotateY(260deg);
    }
.plane:nth-child(27) 
    {
    transform: rotateY(270deg);
    }
.plane:nth-child(28) 
    {
    transform: rotateY(280deg);
    }
.plane:nth-child(29) 
    {
    transform: rotateY(290deg);
    }
.plane:nth-child(30) 
    {
    transform: rotateY(300deg);
    }
.plane:nth-child(31) 
    {
    transform: rotateY(310deg);
    }
.plane:nth-child(32) 
    {
    transform: rotateY(320deg);
    }
.plane:nth-child(33) 
    {
    transform: rotateY(330deg);
    }
.plane:nth-child(34) 
    {
    transform: rotateY(340deg);
    }
.plane:nth-child(35) 
    {
    transform: rotateY(350deg);
    }
.plane:nth-child(36) 
    {
    transform: rotateY(360deg);
    }